<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-box">
    <div class="titulo">Recuperar contraseña</div>
    <form autocomplete="off" [formGroup]="formController" (ngSubmit)="enviar()">
      <div class="inner-form">
        <div class="form-label">Ingrese su email</div>
        <ion-input
          formControlName="email"
          type="text"
          autocomplete="new-password"
        ></ion-input>
      </div>
      <div class="button-container">
        <ion-button class="send-button" routerLink="/login">Enviar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
