<app-header [title]="'Add Transaction'"></app-header>

<ion-content>
  <div class="b-padding">
    <div class="cat-container">
      <div class="icontainer">
        <div class="icon">
          <ion-icon name="shirt"></ion-icon>
        </div>
      </div>
      <div class="text-container">
        <div class="title">Ropa</div>
        <div class="subtitle">Compra diaria</div>
      </div>
    </div>

    <div class="input-box">
      <div class="label">Amount</div>
      <div class="input-container">$ {{ amount }}</div>
    </div>

    <div class="label" style="margin-top: 3rem">Transaction concept</div>

    <div class="input-box">
      <ion-input
        [(ngModel)]="concept"
        class="input-container"
        placeholder="e.g. pago de cuota"
        style="font-weight: 18px"
      ></ion-input>
    </div>

    <div class="button-container">
      <ion-button (click)="saveData()">Save</ion-button>
    </div>
  </div>
</ion-content>
