.input-box {
  .label {
    font-size: 20px;
    color: #908f94;
    font-weight: 500;
  }

  .input-container {
    margin-top: 10px;
    border: 1px solid #908f94;
    border-radius: 12px;
    font-size: 20px;
    padding: 1rem 1rem;
    color: #bebebe;
    font-weight: 500;
  }
}
