<app-header [title]="'Add Transaction'"></app-header>

<ion-content>
  <div class="b-padding">
    <div class="input-box">
      <div class="label">Amount</div>
      <div class="input-container">$ {{ amount }}</div>
    </div>

    <div class="label" style="margin-top: 3rem">Concept</div>

    <div class="input-box">
      <ion-input
        [(ngModel)]="concept"
        class="input-container"
        placeholder="e.g. pago de cuota"
        style="font-weight: 18px"
      ></ion-input>
    </div>

    <div class="label" style="margin-top: 3rem">Category</div>
    <div class="slider-wrapper">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let cat of categorias | keyvalue:asIsOrder">
          <div
            class="slide-category"
            (click)="changeCategory(cat)"
            [class.active]="currentCategory.key === cat.key"
          >
            <div class="slide-text">{{ cat.value.label }}</div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="subcategory-container">
      <div class="label" style="margin-top: 3rem">Subcategory</div>

      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let item of getSubcategories()">
            <div
              (click)="changeSubcategory(item.value)"
              class="subcategory"
              [class.active]="item.value === currentSubcategory"
            >
              <div class="text">{{ item.label }}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="button-container">
      <ion-button (click)="saveData()">Save</ion-button>
    </div>
  </div>
</ion-content>
