<ion-content>
  <div class="main-box">
    <div class="logo-container">
      <img src="../../../assets/logo-25.svg" />
    </div>
    <form autocomplete="off">
      <div class="credentials-container">
        <div class="label">Usuario</div>
        <ion-input></ion-input>

        <div class="label" style="margin-top: 3rem">Password</div>
        <ion-input type="password" autocomplete="new-password"></ion-input>

        <div class="rounded-button-container">
          <ion-button expand="block" class="login-button" routerLink="/home"
            >Login</ion-button
          >
        </div>

        <div class="password-forgot">¿Olvidaste tu contraseña?</div>

        <div class="password-forgot" style="margin-top: 4rem">
          Crear una cuenta
        </div>
      </div>
    </form>
  </div>
</ion-content>
