ion-content {
  --ion-background-color: var(--ion-color-secondary);
}

.logo-container {
  height: 25rem;
  display: flex;
  align-content: center;
  justify-content: flex-end;

  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    max-width: 265px;
    max-height: 150px;
  }
}

.credentials-container {
  .label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    color: #fbfbfb;
  }
  ion-input {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--ion-color-tertiary);
    border-bottom: 1px solid var(--ion-color-tertiary);
  }

  .rounded-button-container {
    margin-top: 5rem;

    ion-button {
      height: 5rem;
      --border-radius: 22px !important;
    }
  }

  .password-forgot {
    margin-top: 3rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    color: #fbfbfb;

    &:focus {
      outline: none;
    }
  }
}
