<app-header [title]="'Money Managment'"></app-header>

<ion-content>
  <div class="b-padding">
    <div class="balance">
      <span>$</span>{{ currentBalance ? currentBalance : '0'}}
    </div>
    <div class="sub-balance">Average inc: <span>8.000</span></div>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="menu-item" (click)="startTransaction('add-founds')">
            <div class="icon-container">
              <i class="fas fa-hand-holding-usd"></i>
            </div>
          </div>

          <div class="text">Add income</div>
        </ion-col>
        <ion-col size="3">
          <div class="menu-item" (click)="startTransaction('add-spending')">
            <div class="icon-container">
              <i class="fas fa-plus"></i>
            </div>
          </div>

          <div class="text">Add Spend</div>
        </ion-col>

        <ion-col size="3">
          <div class="menu-item" routerLink="money-settings">
            <div class="icon-container">
              <i class="fas fa-cog"></i>
            </div>
          </div>

          <div class="text">Settings</div>
        </ion-col>

        <ion-col size="3">
          <div class="menu-item" routerLink="transaction-list">
            <div class="icon-container">
              <i class="fas fa-list"></i>
            </div>
          </div>

          <div class="text">History</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="list-container">
    <ion-title class="last-transactions">Last Transactions</ion-title>

    <ng-container *ngFor="let item of transactionList">
      <div class="date-title">{{ formatDate(item.date) }}</div>

      <ng-container *ngFor="let transaction of item.transactions">
        <div class="card">
          <div class="img-container">
            <ion-avatar>
              <ion-icon [name]="transaction.icon"></ion-icon>
            </ion-avatar>
          </div>

          <div class="card-body">
            <div class="card-title">
              {{transaction.concept ? transaction.concept :
              transaction.subcategory}}
            </div>
            <div class="card-timestamp">
              {{ transaction.date | date : 'shortTime'}}
            </div>
          </div>

          <div class="card-amount">
            <span
              *ngIf="transaction.type === 'add-spending'"
              style="color: #e91c1c"
              >-</span
            >
            <span
              *ngIf="transaction.type === 'add-founds'"
              style="color: #c4e5b2"
              >+</span
            >${{transaction.amount}}
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="transactionList === null">
      <div class="no-transaction-message">There's no transactions yet</div>
    </ng-container>
  </div>
</ion-content>
