.balance {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: #f3f3f3;
  font-weight: 500;

  span {
    font-size: 2.5rem;
    margin-right: 10px;
    margin-top: 20px;
  }
}

.sub-balance {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--ion-color-tertiary);
  font-weight: 400;
  margin-bottom: 2rem;

  span {
    color: #bedfac;
    padding-left: 10px;
  }
}

ion-row {
  margin-top: 2rem;
  ion-col {
    text-align: center;
    height: 8rem;

    .menu-item {
      margin: 0 auto;
      height: 5rem;
      width: 80%;
      background-color: var(--ion-color-secondary-shade2);
      border-radius: 15px;

      .icon-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: var(--ion-color-secondary-gray-contrast);
          font-size: 2.5rem;
        }
      }
    }

    .text {
      color: var(--ion-color-secondary-gray-contrast);
      font-size: 1.6rem;
      margin-top: 10px;
    }
  }
}

.list-container {
  margin-top: 8rem;

  .last-transactions {
    text-align: center;
    margin-bottom: 4rem;
    --color: #fff;
    font-weight: 400;
  }

  .date-title {
    margin-left: 3.2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #f3f3f3;
  }

  .card {
    margin-bottom: 2.5rem !important;
    border-radius: 2rem;
    margin: 0 auto;
    background-color: #27292d;
    height: 10rem;
    width: 85%;
    display: flex;
    position: relative;

    .img-container {
      margin-top: 22px;
      margin-left: 12px;
      border-radius: 50px;

      ion-avatar {
        height: 54px;
        width: 54px;
        background-color: var(--ion-color-secondary-shade2);
        position: relative;
        ion-icon {
          position: absolute;
          top: 19%;
          left: 18%;
          width: 35px;
          height: 35px;
          color: var(--ion-color-secondary-gray-contrast);
        }
      }
    }

    .card-body {
      margin-left: 2rem;
      margin-top: 2rem;
      flex-direction: column;
      font-weight: 500;

      .card-title {
        color: #f3f3f3;
        font-size: 1.8rem;
      }

      .card-timestamp {
        margin-top: 2rem;
        font-size: 1.6rem;
        color: #6a6a6c;
        font-weight: 600;
      }
    }

    .card-amount {
      color: #d7d7d7;
      font-size: 2rem;
      font-weight: 400;
      position: absolute;
      bottom: 17px;
      right: 25px;
    }
  }
}

.no-transaction-message {
  margin: 0 auto;
  width: 85%;
  padding: 2rem;
  text-align: center;
  color: var(--ion-color-secondary-gray-contrast);
  background-color: var(--ion-color-secondary-shade2);
  border-radius: 12px;
  font-size: 1.5rem;
}
