<ion-content>
  <div class="puppy-sector">
    <ion-img src="../../../assets/san_francisco.jpg"></ion-img>
  </div>
  <div class="main-box">
    <div class="title">Welcome Back!</div>
    <div class="subtitle">What do you wanna track today?</div>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="colorized" routerLink="/money-home">
            <div class="first-row-container">
              <div class="icon-container">
                <div class="icon-inner">
                  <i class="far fa-money-bill-alt" style="right: 7px"></i>
                </div>
              </div>
              <div class="colon-container">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <div class="informative-text">
              <div class="access-label">Money</div>
              <div class="useful-data">Last: May 31</div>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="colorized" routerLink="/goals-home">
            <div class="first-row-container">
              <div class="icon-container">
                <div class="icon-inner">
                  <i class="fas fa-bullseye" style="right: 11px"></i>
                </div>
              </div>
              <div class="colon-container">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <div class="informative-text">
              <div class="access-label">Goals</div>
              <div class="useful-data">setting it up</div>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="colorized" routerLink="/notes-home">
            <div class="first-row-container">
              <div class="icon-container">
                <div class="icon-inner">
                  <i class="fas fa-sticky-note"></i>
                </div>
              </div>
              <div class="colon-container">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <div class="informative-text">
              <div class="access-label">Notes</div>
              <div class="useful-data">Last: May 3</div>
            </div>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="colorized">
            <div class="first-row-container">
              <div class="icon-container">
                <div class="icon-inner">
                  <i
                    class="fas fa-clipboard-list"
                    style="bottom: -43px; right: 15px"
                  ></i>
                </div>
              </div>
              <div class="colon-container">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <div class="informative-text">
              <div class="access-label">Mind dump</div>
              <div class="useful-data">3 items left</div>
            </div>
          </div>
        </ion-col>

        <!-- <ion-col size="4">
        
          <div class="colorized">
            <div class="icon-container" style="margin-bottom: 2px">
              <i class="fas fa-tasks"></i>
            </div>
            <div class="access-label">TO-DO</div>
          </div>
        </ion-col>  -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
