<app-header [title]="'Category Managment'"></app-header>

<ion-content>
  <div class="b-padding">
    <div class="search-container">
      <ion-searchbar
        (input)="filterCategories($event.target.value)"
      ></ion-searchbar>
    </div>
    <div class="list-wrap">
      <div
        class="item"
        *ngFor="let item of LocalManagmentService.categorias | keyvalue: asIsOrder"
        (click)="editCategory(item)"
      >
        <div class="icontainer">
          <div class="icon">
            <ion-icon [name]="item.value.icon"></ion-icon>
          </div>
        </div>
        <div class="text-container">
          <div class="title">{{ item.value.label }}</div>
          <div class="subtitle">
            {{ item.value.subcategories.length }} subcategories
          </div>
        </div>
        <div class="kebab-container">
          <div class="kebab">
            <ion-icon name="pencil"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
