<app-header [title]="'Category Managment'"></app-header>

<ion-content>
  <div class="b-padding">
    <div class="search-container">
      <div class="icontainer">
        <ion-icon name="search-outline"></ion-icon>
      </div>
      <ion-input (input)="filterCategories($event.target['value'])">
      </ion-input>
    </div>
    <div class="list-wrap">
      <div
        class="item"
        *ngFor="let item of currentCategoriesOnView"
        (click)="editCategory(item)"
      >
        <div class="icontainer">
          <div class="icon">
            <ion-icon [name]="item.icon"></ion-icon>
          </div>
        </div>
        <div class="text-container">
          <div class="title">{{ item.label }}</div>
          <div class="subtitle">
            {{ item.subcategories.length }} subcategories
          </div>
        </div>
        <div class="kebab-container">
          <div class="kebab">
            <ion-icon name="pencil"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
