.header-title {
  font-size: 20px;
  text-align: center;
  color: #f3f3f3;
  padding: 0 40px;
}

.button-cointainer {
  padding-right: 6%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  ion-button {
    margin-left: auto;
  }
}

.cat-container {
  margin-top: 2.5rem;
  .item {
    position: relative;
    // background-color: var(--ion-color-secondary-shade1);

    background: rgb(26, 25, 30);
    background: linear-gradient(
      20deg,
      rgba(26, 25, 30, 1) 3%,
      rgba(35, 34, 39, 1) 55%,
      rgba(48, 49, 53, 1) 90%,
      rgba(61, 63, 67, 1) 99%
    );
    height: 8rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 12px;
    .cat-title {
      padding-top: 5rem;
      text-align: center;
      font-size: 15px;
      font-weight: 100;
      width: 95%;
      margin: 0 auto;
      color: var(--ion-color-secondary-gray-contrast);
      text-overflow: ellipsis;
      white-space: initial;
      -moz-white-space: nowrap;
      -webkit-hyphens: auto;
      hyphens: auto;
      word-wrap: break-word;
    }

    .cat-icon {
      position: absolute;
      top: 20%;
      right: 25%;
      font-size: 2.5rem;
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      ion-icon {
        margin: 0 auto;
        color: var(--ion-color-secondary-gray-contrast);
      }
    }

    @media screen and (min-height: 700px) {
      .cat-title {
        font-size: 16px;
      }
    }
  }
}

.item-active {
  ion-icon {
    color: #ada7cb !important;
  }
  border: 1px solid #acaab1;
  // background-color: var(--ion-color-secondary-shade2) !important;
}

.cat-pt-overflow {
  padding-top: 4.2rem !important;
}

.subcategories {
  margin-top: 2rem;

  ion-select {
    background: var(--ion-color-secondary-shade2);
    margin: 0 auto;
    width: 91%;
    border-radius: 6px;
    font-size: 16px;
    color: var(--ion-color-secondary-gray-contrast);
    font-weight: 300;
    height: 4.5rem;
  }
}

.selected-value {
  background-color: var(--ion-color-secondary-shade2) !important;
}

.continue-button {
  width: 95%;
  margin: 2rem auto;
  ion-button {
    --background: #c2ecff;
    width: 100%;
    height: 5rem;
    --border-radius: 11px;
    color: #2c3b43;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
  }
}
